body{
    background: #267571;
}

h1{
    color: #fff;
    font-size: 64px;
    margin-top: 60px;
    text-align: center;
}

.content{
    background: rgb(255, 255, 255);
    max-width: 950px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 30px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #207483;
    padding-bottom: 8px;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: rgb(31, 128, 123);
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.deleteButton {
    position: absolute;
    top: 20px;
    right: 10px;
    background: rgb(31, 128, 123);
    width: 70px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    color: rgb(255, 255, 255);
}

.editButton {
    position: absolute;
    top: 20px;
    right: 100px;
    background: rgb(31, 128, 123);
    width: 70px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    color: rgb(255, 255, 255);
}

p {
    font-size: 2rem;
    color: rgb(21, 100, 96);
}

.cancelButton {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 90px;
}

.saveButton {
    position: absolute;
    top: 20px;
    right: 120px;
    width: 90px;
}